#main-container {
    position: relative;
    font-family: 'NanumSquare';
    background-color: #F2EFEB;
    color: #303030;
    width: 100%;
    height: 100vh;
    font-size: 17px;
    font-weight: 800;
    overflow: hidden;
}

#main-nav {
    display: flex;
    justify-content: right;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;
    
}

#main-nav > li {
    line-height: 100px;
    height: 100%;
    padding: 0 20px;
}

#main-font-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#main-font-wrap2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#main-font-wrap2 h1 {
    -webkit-text-stroke: 2px #303030;
    color: transparent;
}

h1 {
    font-weight: 800;
    font-size: 200px;
}

p {
    font-weight: 300;
    font-size: 40px;
}

.web-div {
    margin-left: 10px;
}

.name {
    text-align: right;
    margin-right: 10px;
}

.ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    animation: roll 2s .2s both;
}

@keyframes roll {
    100% {
        width: 0;
        height: 0;
    }
}
