@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareB.woff2') format('woff2'),
        url('NanumSquareB.woff') format('woff'),
        url('NanumSquareB.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareL.woff2') format('woff2'),
        url('NanumSquareL.woff') format('woff'),
        url('NanumSquareL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareR.woff2') format('woff2'),
        url('NanumSquareR.woff') format('woff'),
        url('NanumSquareR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('NanumSquareEB.woff2') format('woff2'),
        url('NanumSquareEB.woff') format('woff'),
        url('NanumSquareEB.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'SBAggroB';
    src: url('./SBAggroB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('./SBAggroL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroM';
    src: url('./SBAggroM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
